<li class="nav-item " data-toggle="tooltip" data-placement="right" title="Messages">
    <a class="nav-link" href="/Admin/Dashboard/Index">
        <i class="fa fa-fw fa-envelope-open"></i>
        <span class="nav-link-text"> پنل مدیریت     </span>
    </a>
</li>

<li class="nav-item " data-toggle="tooltip" data-placement="right" title="Messages">
    <a class="nav-link" href="/Admin/CourseGroup/Index">
        <i class="fa fa-fw fa-envelope-open"></i>
        <span class="nav-link-text"> مدیریت گروه ها   </span>
    </a>
</li>
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Messages">
    <a class="nav-link" href="/Admin/Course/Index">
        <i class="fa fa-fw fa-envelope-open"></i>
        <span class="nav-link-text"> مدیریت  دوره ها   </span>
    </a>
</li>
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Messages">
    <a class="nav-link" href="/Admin/User/Index">
        <i class="fa fa-fw fa-envelope-open"></i>
        <span class="nav-link-text"> مدیریت  کاربران   </span>
    </a>
</li>
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Messages">
    <a class="nav-link" href="/Admin/Message/Index">
        <i class="fa fa-fw fa-envelope-open"></i>
        <span class="nav-link-text"> مدیریت   پیام ها   </span>
    </a>
</li>
<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Messages">
    <a class="nav-link" href="/Admin/Comment/Index">
        <i class="fa fa-fw fa-envelope-open"></i>
        <span class="nav-link-text"> مدیریت    نظر و پسرش پاسخ ها   </span>
    </a>
</li>
