@model Tuple<List<ShowRecievedMessageViewModel>,int>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">داشبورد</a>
    </li>
    <li class="breadcrumb-item active">پیام های دریافتی</li>
</ol>

<div class="box_general">
    <h4>پیام های دریافتی</h4>
    <div class="list_general">
        <ul>
            @foreach (var item in Model.Item1)
            {
                <li class="@((item.Read)?"":"list-group-item-info")">
                    <span> تاریخ دریافت پیام:@item.CreateDate.ToShamsi() </span>
                    <figure><img src="/UserImg/@item.SenderImageName" alt=""></figure>
                    <h4>فرستنده :@item.SenderName </h4>
                    <p> موضوع :@item.MessageTitle </p>
                    <a href="/UserPanel/Message/ShowRecievedMessageBody?messageId=@item.MessageId" class="btn btn-primary">مشاهده پیام</a>
                </li>

            }
        </ul>
    </div>
</div>

<!--Page Ination  without search Filter-->

<ul class="pagination pagination-sm add_bottom_30">

    @if (ViewBag.CurrentPage > 1)
    {
        <li class="page-item ">
            <a class="page-link" href="/UserPanel/Message/Index?pageId=1)">اولین</a>
        </li>
        <li class="page-item ">
            <a class="page-link" href="/UserPanel/Message/Index?pageId=@(ViewBag.CurrentPage - 1)">قبلی</a>
        </li>
    }
    @if (Model.Item2 > 1)
    {
        @for (int i = (ViewBag.CurrentPage - 2 > 0) ? i = ViewBag.CurrentPage - 2 : i = 1; (ViewBag.CurrentPage + 2 > Model.Item2) ? i <= Model.Item2 : i < ViewBag.CurrentPage + 2; i++)
        {
            <li class="page-item @((ViewBag.CurrentPage==i)?"active":"") "><a class="page-link " href="/UserPanel/Message/Index?pageId=@i">@i</a></li>
        }

    }
    @if (ViewBag.CurrentPage < Model.Item2)
    {
        <li class="page-item ">
            <a class="page-link" href="/UserPanel/Message/Index?pageId=@(ViewBag.CurrentPage + 1)">بعدی</a>
        </li>
        
        <li class="page-item ">
            <a class="page-link" href="/UserPanel/Message/Index?pageId=@Model.Item2">آخرین</a>
        </li>
    }
</ul>
<!--Page Ination  without search Filter-->
