@model ForgetPasswordViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0040)http://www.ansonika.com/udema/login.html -->
<!-- Mirrored from mwhtml.ir/udema/html_menu_1/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 12 Sep 2022 19:44:34 GMT -->
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Udema a modern educational site template">
    <meta name="author" content="Ansonika">
    <title>ZabanYad | ورود به سایت</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/img/apple-touch-icon-144x144-precomposed.png">

    <!-- BASE CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/vendors.css" rel="stylesheet">
    <link href="/css/icon_fonts/css/all_icons.min.css" rel="stylesheet">
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <!-- YOUR CUSTOM CSS -->
    <link href="/css/custom.css" rel="stylesheet">

</head>

<body id="login_bg">

    <nav id="menu" class="fake_menu"></nav>

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div>
    <!-- End Preload -->

    <div id="login">
        <aside>
            <figure>
                <a href="/Home/Index"><img src="/img/logo.png" width="149" height="42" data-retina="true" alt=""></a>
            </figure>
            <form action="/Account/ForgetPassword" method="post">
                @if (ViewBag.ForgetPassword==true)
                {
                    <div class="alert alert-success"> لینکی جهت بازیابی کلمه عبور شما به ایمیل شما ارسال گردید </div>
                }

                <div class="form-group">
                    <span class="input">
                        <input class="input_field" asp-for="UserName" type="text" autocomplete="off">
                        <span asp-validation-for="UserName" id="validation"></span>
                        <label class="input_label">
                            <span class="input__label-content">نام کاربری  </span>
                        </label>
                    </span>

                    <span class="input">
                        <input class="input_field" asp-for="Email" type="email" autocomplete="new-password">
                        <span asp-validation-for="Email" id="validation"></span>

                        <label class="input_label">
                            <span class="input__label-content">ایمیل شما </span>
                        </label>
                    </span>
                    <hr />
                </div>
                <input type="submit" class="btn_1 rounded full-width add_top_60" value="ورود" />
            </form>
            <div class="copy">ZabanYad</div>
        </aside>
    </div>
    <!-- /login -->
    <!-- COMMON SCRIPTS -->
    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/js/common_scripts.js"></script>
    <script src="/js/main.js"></script>
    <script src="/assets/validate.js"></script>

</body>

<!-- Mirrored from mwhtml.ir/udema/html_menu_1/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 12 Sep 2022 19:44:34 GMT -->
</html>