@using Core.ViewModels
@model RegisterUserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- saved from url=(0043)http://www.ansonika.com/udema/register.html -->
<!-- Mirrored from mwhtml.ir/udema/html_menu_1/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 12 Sep 2022 19:45:30 GMT -->
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Udema a modern educational site template">
    <meta name="author" content="Ansonika">
    <title>ZabanYad | زبان یاد</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/img/apple-touch-icon-144x144-precomposed.png">

    <!-- BASE CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/vendors.css" rel="stylesheet">
    <link href="/css/icon_fonts//css/all_icons.min.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="/css/custom.css" rel="stylesheet">

</head>

<body id="register_bg">

    <nav id="menu" class="fake_menu"></nav>

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div>
    <!-- End Preload -->

    <div id="login">
        <aside>
            <figure>
                <a href="index.html"><img src="/img/logo.png" width="149" height="42" data-retina="true" alt=""></a>
            </figure>

            <form autocomplete="off" action="/Account/Register" method="post" enctype="multipart/form-data">
                <div class="form-group">

                    <span class="input">
                        <input class="input_field" asp-for="UserName" type="text">
                        <span asp-validation-for="UserName" id="validation"></span>
                        <label class="input_label">
                            <span class="input__label-content">نام کاربری </span>
                        </label>
                    </span>

                    <span class="input">
                        <input class="input_field" asp-for="Email" type="email">
                        <span asp-validation-for="Email" id="validation"></span>
                        <label class="input_label">
                            <span class="input__label-content">ایمیل </span>
                        </label>
                    </span>

                    <span class="input">
                        <input class="input_field" asp-for="PhoneNumber" type="text">
                        <span asp-validation-for="PhoneNumber" id="validation"></span>
                        <label class="input_label">
                            <span class="input__label-content">شماره تماس </span>
                        </label>
                    </span>

                    <span class="input">
                        <input class="input_field" type="file" name="userImg">
                        <label class="input_label">
                            <span>انتخاب تصویر  </span>
                        </label>
                    </span>

                    <span class="input">
                        <input class="input_field" asp-for="PassWord" type="password">
                        <span asp-validation-for="PassWord" id="validation"></span>
                        <label class="input_label">
                            <span class="input__label-content">کلمه عبور  </span>
                        </label>
                    </span>

                    <span class="input">
                        <input class="input_field" asp-for="RePassWord" type="password">
                        <span asp-validation-for="RePassWord" id="validation"></span>
                        <label class="input_label">
                            <span class="input__label-content">تکرار کلمه عبور  </span>
                        </label>
                    </span>

                    <div id="pass-info" class="clearfix"></div>
                </div>
                <input type="submit" value="ثبت نام" class="btn_1 rounded full-width add_top_30" />


                <div class="text-center add_top_10">حساب کاربری دارید؟ <strong><a href="/Account/Login">ورود</a></strong></div>
            </form>

            <div class="copy">ZabanYad  </div>
        </aside>
    </div>
    <!-- /login -->
    <!-- COMMON SCRIPTS -->
    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/js/common_scripts.js"></script>
    <script src="/js/main.js"></script>
    <script src="/assets/validate.js"></script>

    <!-- SPECIFIC SCRIPTS -->
    <script src="/js/pw_strenght.js"></script>

</body>

<!-- Mirrored from mwhtml.ir/udema/html_menu_1/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 12 Sep 2022 19:45:30 GMT -->
</html>

