@model RegisterSuccessViewModel

<h1 class="wizard-header" style="margin:20px">پذیرش درخواست </h1>

<div class="alert alert-success">
    <p><strong> کاربر گرامی @Model.UserName ثبت نام شما با موفقیت انجام شد جهت فعال سازی حساب کاربری خود به آدرس ایمیل @Model.EmailAddress وارد شده و روی لینک فعال سازی کلیک نمایید </strong></p>
</div>
